:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}
* {
    font-family: "Outfit", sans-serif;
}
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-300);
}
.card {
    background-color: white;
    width: 250px;
    height: 400px;
    text-align: center;
    flex-direction: column;
    padding: 15px;
}
.card-image img {
    width: 250px;
}
.card, .card-image img {
    border-radius: 10px;
}
.card-paragraph {
    margin: 20px;
}
.card-paragraph h1 {
    font-size: 17px;
    color: var(--slate-900);
}
.card-paragraph p {
    color: var(--slate-500);
    font-size: 12px;
}
@media screen and (min-width: 700px) {
    .card-image img {
        width: 275px;
        height: 250px;
    }
    .card {
        width: 275px;
    }
    .card-paragraph {
        margin: 20px 35px;
    }
}

